.hero {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
  
  button.btn:hover {
    filter: brightness(90%);
    transition: all 0.3s ease;
  }
  .service-card {
    transition: all 0.3s ease;
  }
  
  .service-card:hover {
    background-color: #efefef;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  .portfolio-card {
    transition: all 0.3s ease;
  }
  
  .portfolio-card:hover {
    background-color: #efefef;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .portfolio-card .btn {
    transition: background-color 0.3s ease;
  }
  
  .portfolio-card .btn:hover {
    background-color: #0b5ed7; /* bleu Bootstrap un peu plus clair */
  }
  .footer-link {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  .footer-link:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .social-icon {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
  }
  
  .social-icon:hover {
    filter: brightness(1.2) invert(1);
  }
  @media (max-width: 767px) {
    .card {
      padding: 1rem;
    }
  }
  
  .service-card {
    margin-bottom: 1.5rem;
  }
  
  .card-img-top {
    object-fit: cover;
    height: auto;
    max-height: 200px;
  }
  
  iframe {
    min-height: 250px;
  }
  